.underline {
  text-decoration: underline !important;
}

.nomargin {
  margin-bottom: 0 !important;
}

.inner-page-hero-gradient.nav-hero .hero {
  background-size: auto;
}


@keyframes bgAnimation {
  from {
    background-size: auto 200%;
  }
  to {
    background-size: auto 125%;
  }
} 
.inner-page-hero-gradient.nav-hero .hero {
  content: "";
  background-image: url("/img/dotted-element-light.png"), url("/img/dotted-element-light-flipped.png");
  background-repeat: no-repeat;
  background-size: auto 150%;
  background-position: left top, right top;
  animation: bgAnimation 800ms ease-in-out;
  position: relative;
}

.inner-page-hero-gradient.nav-hero .hero:hover {
	background-size: auto 175%;
	
}