.nav-hero {
    margin-bottom: 0 !important;

    .hero {
        .flex {
            display: flex;
            gap: 2rem;
            align-items: center;
            padding-top: 1rem;

            .img-div {
                width: 50%;
                padding-top: 1rem;
                padding-right: 2rem;
                position: relative;

                .arrow{
                    position: absolute;
                    width: 8rem;
                    top: 41%;
                    right: 3%;
                    filter:opacity(0.8);
                }

                .bolt{
                    position: absolute;
                    width: 5rem;
                    top: 10%;
                    left: 3%;
                    transform: rotate(-40deg);
                    filter:opacity(0.8);
                }

                .hero-main-img {
                    width: 100%;
                    height: 82vh;
                    object-fit: contain;
                    border-radius: 12px;
                }
            }

            .info-div {
                width: 50%;
                padding-bottom: 3rem;

                .pill-info {
                    background-color: $primary-soft;
                    border-radius: 50rem;
                    width: fit-content;
                    padding: 0.4rem 1.5rem;
                    margin-bottom: 2rem;

                    img {
                        margin-right: 0.3rem;
                        width: 40px;
                    }

                    span {
                        font-weight: 500;
                        color: $primary;
                        font-size: 16px;
                    }
                }

                .first-heading {
                    font-size: 48px;
                    font-weight: 700;
                    text-transform: capitalize;
                    margin-bottom: 1rem;
                    color: $dark;
                }

                .hero-info {
                    font-size: 17px;
                    color: $info;
                    font-weight: 400;
                    margin-bottom: 1rem;
                }

                .buttons {
                    display: flex;
                    gap: 2rem;
                    margin-bottom: 2rem;
                }

                .ratings-spf {
                    display: flex;
                    gap: 1rem;

                    .customers-overview {
                        height: 5rem;
                        display: flex;
                        margin-bottom: 1rem;

                        .profiles {
                            position: relative;
                            width: 200px;

                            .profile {
                                width: 4rem;
                                height: 4rem;
                                object-fit: cover;
                                border-radius: 50%;
                                top: 0;
                                border: 4px solid $body-color;
                            }

                            .profile-2 {
                                position: absolute;
                                left: 20%;
                            }

                            .profile-3 {
                                position: absolute;
                                left: 40%;
                            }
                        }

                        .info-div {
                            transform: translateX(-15%);

                            .stat {
                                font-size: 20px;
                                font-weight: 600;
                                color: $dark;
                            }

                            .stat-info {
                                font-size: 16px;
                                font-weight: 500;
                                color: $info;
                            }
                        }
                    }

                    .star-ratings {
                        .stat {
                            font-size: 20px;
                            font-weight: 600;
                            color: $dark;
                        }

                        .stars {
                            i {
                                color: gold;

                            }
                        }
                    }
                }

                .stats {
                    display: flex;
                    gap: 1rem;
                    align-items: center;

                    .column {
                        text-align: center;
                        padding: 0rem 2rem;
                        position: relative;

                        &:nth-of-type(1) {
                            padding-left: 0rem;
                        }

                        &:nth-of-type(3) {
                            &::after {
                                width: 0px;
                            }
                        }

                        &::after {
                            position: absolute;
                            content: "";
                            height: 2rem;
                            width: 3px;
                            background-color: $primary-soft;
                            right: 0;
                            top: 50%;
                            transform: translateY(-50%);
                        }

                        .number {
                            font-size: 28px;
                            font-weight: 700;
                            color: rgb(66, 64, 64);

                            span {
                                color: $primary;
                            }
                        }

                        .stat-info {
                            font-size: 18px;
                            color: rgb(66, 66, 66);
                        }
                    }
                }
            }
        }
    }
}

// Marquee

// Logos Margue
.marquee-section {
    --space: 2rem;
    background-color: $primary;
    display: grid;
    align-content: center;
    overflow: hidden;
    gap: var(--space);
    width: 100%;
    font-size: 1.5rem;
    line-height: 1.5;
    padding: 4rem 0;

    .marquee {
        --duration: 65s;
        --gap: var(--space);
        background-color: $primary;
        display: flex;
        overflow: hidden;
        user-select: none;
        gap: 2.4rem;

        .marquee_group {
            flex-shrink: 0;
            background-color: $primary;
            display: flex;
            align-items: center;
            justify-content: space-around;
            gap: var(--gap);
            min-width: 100%;
            animation: scroll var(--duration) linear infinite;

            @keyframes scroll {
                0% {
                    transform: translateX(0);
                }

                100% {
                    transform: translateX(calc(-100% - var(--gap)));
                }
            }

            img {
                // filter: contrast(1);
                max-width: 12rem;
                object-fit: contain;
                filter: saturate(0%);
                z-index: 2;
            }
        }
    }
}

// How it works
.how-it-works {
    .flex {
        display: flex;
        gap: 4rem;
        position: relative;
        width: 100%;

        &::after {
            position: absolute;
            content: "";
            width: 70%;
            border-bottom: 2px dashed $dark;
            height: 3px;
            left: 50%;
            top: 25%;
            z-index: -2;
            transform: translateX(-50%);
        }

        .column {
            text-align: center;

            .step-num {
                width: 3.5rem;
                height: 3.5rem;
                background-color: $primary;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 1.3rem auto;
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    width: 7rem;
                    background-color: $body-color;
                    height: 3.5rem;
                    z-index: -1;
                }

                p {
                    color: $white;
                    font-size: 19px;
                }
            }

            h4 {
                font-size: 24px;
                font-weight: 600;
            }

            .info {
                color: $info;
            }
        }
    }
}

// About Us
.about-us {
    .flex {
        display: flex;
        align-items: center;
        gap: 2rem;

        .info-div {
            width: 60%;

            .heading {
                font-size: 48px;
                font-weight: 700;
                text-transform: capitalize;
                margin-bottom: 1rem;
                color: $dark;
            }

            .info {
                font-size: 17px;
                color: $info;
                font-weight: 400;
                margin-bottom: 1rem;
            }

            .button {
                margin-top: 2rem;
            }
        }

        .img-div {
            width: 40%;
            display: flex;
            justify-content: center;
            border-radius: 12px;

            img {
                max-height: 450px;
                width: 100%;
                object-fit: contain;
            }
        }
    }
}

// Testimonials
.testimonials {
    .testimonial {
        .flex {
            display: flex;
            justify-content: space-between;
            align-self: center;
            gap: 3rem;
        }

        .img-div {
            width: 25%;

            img {
                width: 100%;
                object-fit: cover;
                height: 21rem;
                border-radius: 6px;
                border-bottom-left-radius: 5rem;
            }
        }

        .data-div {
            width: 75%;
            margin: auto 0;

            .quote {
                margin-bottom: 1rem;
            }

            .info {
                font-size: 1.45rem;
            }

            .flex {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 1rem;

                .name {
                    font-size: 1.3rem;
                    font-weight: 600;
                    color: $primary;
                }

                .position {
                    font-size: 1rem;
                    font-weight: 400;

                }

                .logo {
                    img {
                        width: 16rem;
                        height: 80px;
                        object-fit: contain;
                    }
                }
            }
        }
    }
}


// Pricing Tables
.pricing-tables {
    color: $dark;

    .flex {
        display: flex;
        gap: 3rem;
        justify-content: space-between;

        .column {
            padding: 2.5rem 1.5rem;
            border-radius: 12px;
            border: 1px solid $light-info;

            &:nth-of-type(2) {
                background: linear-gradient(to top, #123ea6, #1241b0, #1144b9, #1247c3, #124acd);
                color: $white;

                .top-icon-div {
                    background-color: $primary-soft;

                    i {
                        color: $primary;
                    }
                }

                .spf-1 {
                    background-color: $primary;
                    border-radius: 50rem;
                    padding: 0.4rem 1rem;
                    font-size: 16px;
                    font-weight: 500;

                    img {
                        width: 18px;
                    }
                }

                .sub-data {
                    color: $primary-soft;
                }

                .features {
                    ul {
                        li {
                            color: $white;
                        }
                    }
                }

                .pill-btn {
                    background-color: $white;
                    color: $primary;
                    font-weight: 500;
                    .icon-div {
                        background-color: $primary;

                        i {
                            color: $primary-soft;
                        }
                    }
                }

            }

            .top-icon-div {
                width: 2.5rem;
                height: 2.5rem;
                background-color: #faf6f6;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                margin-bottom: 1.5rem;

                i {
                    font-size: 18px;
                }
            }

            .heading {
                font-size: 22px;
                font-weight: 600;
                margin-bottom: 1rem;
            }

            .sub-data {
                font-size: 16px;
                font-weight: 400;
                color: $info;
                margin-bottom: 1rem;
            }

            .price {
                font-size: 42px;
                font-weight: 600;
                margin-bottom: 1rem;

                span {
                    font-size: 16px;
                    font-weight: 500;
                }
            }

            .features {
                margin-bottom: 2rem;

                .feature-head {
                    font-weight: 600;
                    margin-bottom: 2rem
                }

                ul {
                    padding-left: 0rem;

                    li {
                        list-style: none;
                        position: relative;
                        padding-left: 0px;
                        margin-bottom: 10px;
                        margin-left: 0px;
                        color: $dark;
                        display: flex;
                        align-items: center;
                        gap: 0.8rem;

                        .icon {
                            width: 1.6rem;
                            height: 1.6rem;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: $secondary-soft;
                            border-radius: 50%;

                            i {
                                font-size: 16px;
                                color: #3bab84;
                            }
                        }
                    }
                }

                .no-before {
                    &::before {
                        background-color: none !important;
                        width: 0px;
                    }
                }
            }

            .pill-btn {
                font-size: 18px;
                text-transform: capitalize;

                .icon-div {
                    min-width: 2.4rem;
                    min-height: 2.4rem;
                    width: 2.4rem;
                    height: 2.4rem;
                }
            }
        }
    }
}

// Join Us
.join-us {
    color: $dark;

    .flex {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        align-items: center;
        margin-bottom: 2rem;

        .heading-div {
            width: 50%;
        }

        .spf {
            width: 50%;
            display: flex;
            justify-content: end;

            .line {
                width: 35%;
                margin-right: 2rem;
                margin-top: 2rem;
                height: 1px;
                background-color: #cecccc;

            }


            .pill-btn {
                .icon-div {
                    min-width: 2.3rem;
                    min-height: 2.3rem;
                    height: 2.3rem;
                    width: 2.3rem;
                }
            }
        }
    }

    .img-div {
        img {
            width: 100%;
            max-height: 450px;
            object-fit: cover;
            object-position: 70% 50%;
            border-radius: 12px;
        }
    }
}

// Stars
.stars {
    i {
        color: gold;

    }
}