.inner-page-hero {
    .hero-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .hero {

        &::after {
            display: none !important;
        }

        padding: 3.5rem 0;
        background: $primary-gradient;

        .info-div {
            width: 100% !important;
            padding-bottom: inherit !important;

            .first-heading {
                color: $white !important;
                margin-bottom: 1rem !important;
            }

            .second-heading {
                color: $white;
                margin-bottom: 1.5rem !important;
            }

            .hero-info {
                color: $white !important;
                margin-bottom: 2rem !important;
            }
        }
    }
}


.inner-page-hero-gradient {
    .hero-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        object-fit: cover;
        object-position: right;
    }

    .hero {
        position: relative;
        padding: 3.5rem 0;
        background-image: url("/img/dotted-element-light.png"), url("/img/dotted-element-light-flipped.png");
        background-repeat: no-repeat;
        background-size: auto 150%;
        background-position: left top, right top;
        animation: bgAnimation 800ms ease-in-out;
        position: relative;

        &:hover{
            background-size: auto 175%;
        }

        @media (max-width: 1200px) {
            background-image: none;
        }

        &::after {
            content: "";
            background: rgb(1, 55, 161);
            background: linear-gradient(86deg, rgb(1, 55, 161) 0%, rgba(1, 55, 161, 0.9168837535014006) 77%, rgba(1, 55, 161, 0.868) 100%);
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: -1;
            position: absolute;
            display: block !important;
            background-color: none !important;
        }

        @keyframes bgAnimation {
            0%{
                background-size: auto 200%;
            }

            100%{
                background-size: auto 125%;
            }
        }

        .info-div {
            width: 100% !important;
            padding-bottom: inherit !important;

            .first-heading {
                color: $white !important;
                margin-bottom: 1rem !important;
            }

            .second-heading {
                color: $white;
                font-size: 18px;
                font-weight: 400;
                margin-bottom: 1.5rem !important;
            }

            .hero-info {
                color: $white !important;
                margin-bottom: 2rem !important;
            }
        }
    }
}

.inner-hero.nav-hero {
    nav {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    .hero {
        padding: 2rem 0;

        .flex {
            gap: 3rem !important;

            .img-div {
                width: 40%;
                height: 100%;
                padding: 0 !important;

                .brightness{
                    filter: brightness(0.7);
                }
                .play-btn{
                    width: 4rem;
                    height: 4rem;
                    background-color: $success;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    z-index: 2;
                    transform: translate(-50%, -50%);
                    cursor: pointer;

                    i{
                        color: $primary;
                        font-size: 26px;
                    }
                }

                .hero-main-img, video {
                    width: 100%;
                    max-height: 81vh;
                    object-fit: cover;
                    border-radius: 12px;
                    object-position: center;
                    height: 540px;
                }
            }

            .info-div {
                width: 60% ;
                flex: 1;
                padding-bottom: inherit !important;

                .second-heading {
                    font-size: 28px;
                    font-weight: 600;
                    margin-bottom: 2rem;
                }
            }
        }
    }

    .hero.industry-hero{
        .img-div{
            width: 50%;
        }
        .info-div{
            width: 50%;
        }
    }
}


.nav-hero {
    margin-bottom: 0;

    .hero {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url('/img/texture-2.png');
            opacity: 0.1;
            z-index: -1;
        }

        @media (max-width: 1200px) {
            padding: 1.5rem 0;
        }

        // &::after {
        //     display: none;

        //     @media (max-width: 1200px) {
        //         display: block;
        //         content: "";
        //         position: absolute;
        //         width: 100%;
        //         height: 100%;
        //         top: 0;
        //         left: 0;
        //         z-index: -1;
        //         background-color: #ffffff;
        //     }
        // }

        .flex {
            display: flex;
            gap: 5rem;
            align-items: center;
            padding-top: 1rem;

            .img-div {
                width: 25%;
                padding-top: 1rem;
                padding-right: 2rem;
                position: relative;



                @media (max-width: 1200px) {
                    flex: 1;
                    width: 0%;
                    display: none;
                }

                .hero-main-img, video {
                    width: 100%;
                    max-height: 81vh;
                    object-fit: contain;
                    border-radius: 12px;
                    object-position: bottom;
                }

                .arrow {
                    position: absolute;
                    width: 7rem;
                    top: 35%;
                    right: -15%;
                    filter: opacity(0.8);
                    display: none;
                }

                .bolt {
                    position: absolute;
                    width: 5rem;
                    top: 10%;
                    left: 3%;
                    transform: rotate(-40deg);
                    filter: opacity(0.8);
                    display: none;
                }
            }

            .info-div {
                width: 75%;
                padding-bottom: 3rem;
                flex: 1;

                @media (max-width: 1200px) {
                    width: 100%;
                }

                .pill-info {
                    background-color: $primary-soft;
                    border-radius: 50rem;
                    width: fit-content;
                    padding: 0.4rem 1.5rem;
                    margin-bottom: 2rem;

                    img {
                        margin-right: 0.3rem;
                        width: 40px;
                    }

                    span {
                        font-weight: 500;
                        color: $primary;
                        font-size: 16px;
                    }
                }

                .first-heading {
                    font-size: 48px;
                    font-weight: 700;
                    text-transform: capitalize;
                    margin-bottom: 1rem;
                    color: $dark;

                    @media (max-width: 1200px) {
                        font-size: 42px;
                    }
                }

                .hero-info {
                    font-size: 18px;
                    color: #444546;
                    font-weight: 400;
                    margin-bottom: 1rem;
                }

                .buttons {
                    display: flex;
                    gap: 2rem;
                    margin-bottom: 2rem;
                }

                .ratings-spf {
                    display: flex;
                    gap: 1rem;
                    flex-wrap: wrap;
                    margin-bottom: 1rem;

                    .customers-overview {
                        height: 5rem;
                        display: flex;

                        .profiles {
                            position: relative;
                            width: 200px;

                            .profile {
                                width: 4rem;
                                height: 4rem;
                                object-fit: cover;
                                border-radius: 50%;
                                top: 0;
                                border: 4px solid $body-color;
                            }

                            .profile-2 {
                                position: absolute;
                                left: 20%;
                            }

                            .profile-3 {
                                position: absolute;
                                left: 40%;
                            }
                        }

                        .info-div {
                            transform: translateX(-22%);

                            @media (max-width: 576px) {
                                transform: translateX(-28%);
                            }

                            .stat {
                                font-size: 20px;
                                font-weight: 600;
                                color: $dark;
                            }

                            .stat-info {
                                font-size: 16px;
                                font-weight: 500;
                                color: $info;
                            }
                        }
                    }

                    .star-ratings {
                        .stat {
                            font-size: 20px;
                            font-weight: 600;
                            color: $dark;
                        }
                    }
                }

                .stats {
                    display: flex;
                    gap: 1rem;
                    align-items: center;

                    @media (max-width: 576px) {
                        gap: 1.5rem;
                        flex-wrap: wrap;
                    }

                    .column {
                        text-align: center;
                        padding: 0rem 2rem;
                        position: relative;

                        @media (max-width: 768px) {
                            padding: 0rem 1rem;
                        }

                        @media (max-width: 576px) {
                            padding: 0rem;
                        }

                        &:nth-of-type(1) {
                            padding-left: 0rem;
                        }

                        &:nth-of-type(3) {
                            &::after {
                                width: 0px;
                            }

                            // @media (max-width: 576px) {
                            //     grid-column: span 2;
                            // }
                        }

                        &::after {
                            position: absolute;
                            content: "";
                            height: 2rem;
                            width: 3px;
                            background-color: $primary-soft;
                            right: 0;
                            top: 50%;
                            transform: translateY(-50%);

                            @media (max-width: 1200px) {
                                background-color: $primary;
                            }

                            @media (max-width: 576px) {
                                display: none;
                            }
                        }

                        .number {
                            font-size: 28px;
                            font-weight: 700;
                            color: rgb(66, 64, 64);

                            span {
                                color: $primary;
                            }
                        }

                        .stat-info {
                            font-size: 18px;
                            color: rgb(66, 66, 66);
                        }
                    }
                }
            }
        }
    }
}

// Marquee

// Logos Margue
.marquee-section {
    --space: 2rem;
    background: $primary-gradient;
    display: grid;
    align-content: center;
    overflow: hidden;
    gap: var(--space);
    width: 100%;
    font-size: 1.5rem;
    line-height: 1.5;
    padding: 4rem 0;

    .marquee {
        --duration: 65s;
        --gap: var(--space);
        display: flex;
        overflow: hidden;
        user-select: none;
        gap: 2.4rem;

        .marquee_group {
            flex-shrink: 0;
            display: flex;
            align-items: center;
            justify-content: space-around;
            gap: var(--gap);
            min-width: 100%;
            animation: scroll var(--duration) linear infinite;

            @keyframes scroll {
                0% {
                    transform: translateX(0);
                }

                100% {
                    transform: translateX(calc(-100% - var(--gap)));
                }
            }

            img {
                // filter: contrast(1);
                max-width: 12rem;
                object-fit: contain;
                filter: saturate(0%);
                z-index: 2;
            }
        }
    }
}


// Testimonials
.testimonials {

    .testimonial {
        .flex {
            display: flex;
            justify-content: space-between;
            align-self: center;
            gap: 3rem;

            @media (max-width: 768px) {
                flex-direction: column;
            }
        }

        .img-div {
            width: 25%;

            @media (max-width: 1200px) {
                width: 30%;
            }

            @media (max-width: 768px) {
                width: 100%;
            }

            img {
                width: 100%;
                object-fit: cover;
                height: 21rem;
                border-radius: 6px;
                border-bottom-left-radius: 5rem;

                @media (max-width: 1200px) {
                    height: 100%;
                }

                @media (max-width: 768px) {
                    max-height: 350px;
                }
            }
        }

        .data-div {
            width: 75%;
            margin: auto 0;

            @media (max-width: 1200px) {
                width: 70%;
            }

            @media (max-width: 768px) {
                width: 100%;
            }

            .quote {
                margin-bottom: 1rem;
            }

            .stars {
                margin-bottom: 1rem;

                i {
                    font-size: 18px;
                }
            }

            .info {
                font-size: 18px;

                @media (max-width: 576px) {
                    font-size: 1.2rem;
                }
            }

            .logo-flex {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 1rem;

                @media (max-width: 480px) {
                    flex-direction: column;
                    align-items: start;
                    gap: 1.3rem;
                }

                .name {
                    font-size: 1.3rem;
                    font-weight: 600;
                    color: $primary;
                }

                .position {
                    font-size: 1rem;
                    font-weight: 400;

                }

                .logo {
                    img {
                        width: 16rem;
                        height: 80px;
                        object-fit: contain;
                    }
                }
            }
        }
    }
}


// About Us
.about-us {
    background: $primary-gradient;
    padding: 3rem 0;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('/img/texture-1.png');
        opacity: 0.15;
        z-index: 0;
    }

    .flex {
        display: flex;
        align-items: center;
        gap: 2rem;
        position: relative;
        z-index: 2;

        @media (max-width: 1200px) {
            flex-direction: column;
        }

        .info-div {
            width: 60%;

            @media (max-width: 1200px) {
                width: 100%;
            }

            .header {
                font-size: 48px;
                font-weight: 700;
                text-transform: capitalize;
                margin-bottom: 1rem;
                color: $white;

                @media (max-width: 576px) {
                    font-size: 36px;
                }
            }

            .info {
                font-size: 17px;
                color: $primary-soft;
                font-weight: 400;
                margin-bottom: 1rem;
            }

            .button {


                .pill-btn {
                    background-color: $white;
                    color: $primary;

                    span {
                        font-weight: 500;
                    }

                    .icon-div {
                        background-color: $primary;

                        i {
                            color: $white;
                        }
                    }
                }
            }
        }

        .img-div {
            width: 40%;
            display: flex;
            justify-content: center;
            border-radius: 12px;
            position: relative;

            @media (max-width: 1200px) {
                width: 100%;
            }

            .main-img {
                max-height: 300px;
                width: 100%;
                object-fit: contain;
                z-index: 1;

                @media (max-width: 1200px) {
                    width: fit-content;
                    max-width: 100%;
                    margin-right: auto;
                }
            }
        }
    }
}

// How it works
.how-it-works {
    .flex {
        display: flex;
        gap: 4rem;
        position: relative;
        width: 100%;

        @media (max-width: 992px) {
            flex-direction: column;
            gap: 1rem;
        }

        &::after {
            position: absolute;
            content: "";
            width: 70%;
            border-bottom: 2px dashed $dark;
            height: 3px;
            left: 50%;
            top: 25%;
            z-index: -2;
            transform: translateX(-50%);

            @media (max-width: 992px) {
                display: none;
                border: none;
            }
        }

        .column {
            text-align: center;

            @media (max-width: 992px) {
                padding-bottom: 2rem;
                border-bottom: 2px dashed $info;
            }

            .step-num {
                width: 3.5rem;
                height: 3.5rem;
                background-color: $primary;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 1.3rem auto;
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    width: 7rem;
                    background-color: $body-color;
                    height: 3.5rem;
                    z-index: -1;
                }

                p {
                    color: $white;
                    font-size: 19px;
                }
            }

            h4 {
                font-size: 24px;
                font-weight: 600;
            }

            .info {
                color: $info;
            }
        }
    }
}

// Point About Us
.point-about-us {
    background: $primary-gradient;
    padding: 4rem 0;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('/img/texture-1.png');
        opacity: 0.1;
        z-index: 0;
    }

    .flex {
        display: flex;
        align-items: center;
        gap: 3rem;
        z-index: 2;
        position: relative;

        @media (max-width: 1200px) {
            flex-direction: column;
        }

        .heading-side {
            width: 50%;

            @media (max-width: 1200px) {
                width: 100%;
            }


            .header {
                color: $white;
            }

            .info {
                font-size: 17px;
                color: $white;
                font-weight: 400;
                margin-bottom: 1rem;
            }

            .main-img,
            video {
                width: 100%;
                object-fit: cover;
                max-height: 350px;
                border-radius: 12px;

                @media (max-width: 1200px) {
                    max-height: 400px;
                }
            }
        }

        .points-side {

            @media (max-width: 1200px) {
                width: 100%;
            }

            .point {
                display: flex;
                gap: 1.5rem;
                margin-bottom: 2rem;

                h5,
                p {
                    color: $white;
                }

                .icon {
                    background-color: $white;
                    width: 3rem;
                    height: 3rem;
                    min-width: 3rem;
                    min-height: 3rem;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    i {
                        font-size: 18px;
                        color: $primary;
                    }
                }

                .info {
                    h5 {
                        font-size: 19px;
                        font-weight: 600;
                    }
                }

                .pill-btn {
                    background-color: $white;
                    color: $primary;

                    span {
                        font-weight: 500;
                    }

                    .icon-div {
                        background-color: $primary;

                        i {
                            color: $white;
                        }
                    }

                }
            }

            .pill-btn {
                background-color: $white;
                color: $primary;

                span {
                    font-weight: 500;
                }

                .icon-div-small {
                    background-color: $primary;

                    i {
                        color: $white;
                    }
                }

            }
        }
    }
}

// What we do

.what-we-do-bg {
    padding: 3rem 0;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('/img/texture-1.png');
        opacity: 0.1;
        z-index: -1;
    }

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -2;
        background: $primary-gradient;
    }

    .header {
        color: $white;
    }

    .item {
        background-color: $white;

        p {
            color: $dark;
        }
    }

    p {
        color: $white;
    }
}

.what-we-do {
    .flex {
        display: flex;
        gap: 2rem;

        @media (max-width: 1200px) {
            flex-direction: column;
        }

        .heading-side {
            width: 50%;

            @media (max-width: 1200px) {
                width: 100%;
            }
        }

        .items {
            width: 50%;
            display: flex;
            justify-content: space-between;
            gap: 2rem;

            @media (max-width: 1200px) {
                width: 100%;
            }

            @media (max-width: 576px) {
                flex-direction: column;
            }
        }
    }

    .items-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
        margin-top: 2rem;

        @media (max-width: 1200px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 576px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    .item {
        padding: 1rem 1.4rem;
        border-radius: 12px;
        border: 1px solid $primary-soft;

        .logo-div {
            width: 3.5rem;
            height: 3.5rem;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $primary-soft;
            margin-bottom: 1.5rem;

            i {
                color: $primary;
            }
        }

        .title {
            font-size: 22px;
            font-weight: 600;
        }

        .info {
            font-size: 16px;
            margin-bottom: 1rem;
        }

        .pill-btn {
            margin-top: 1rem;

            .icon-div-small {
                width: 2rem;
                height: 2rem;
                min-width: 2rem;
                min-height: 2rem;

                i {
                    font-size: 16px;
                }
            }
        }

        .link {
            color: $primary;
            margin-top: 2rem;
            text-decoration: underline !important;
        }
    }
}

// Pricing Tables
.pricing-tables {
    color: $dark;

    .flex {
        display: flex;
        gap: 3rem;
        justify-content: space-between;

        @media (max-width: 1400px) {
            gap: 2rem;
        }

        @media (max-width: 1200px) {
            flex-direction: column;
        }

        .column {
            width: 100%;
            padding: 2.5rem 1.5rem;
            border-radius: 12px;
            border: 1px solid #1247c3;

            &:nth-of-type(2) {
                background: linear-gradient(to top, #123ea6, #1241b0, #1144b9, #1247c3, #124acd);
                color: $white;

                .top-icon-div {
                    background-color: $primary;

                    i {
                        color: $primary-soft;
                    }
                }

                .spf-1 {
                    background-color: $primary;
                    border-radius: 50rem;
                    padding: 0.4rem 1rem;
                    font-size: 16px;
                    font-weight: 500;

                    img {
                        width: 18px;
                    }
                }

                .sub-data {
                    color: $primary-soft;
                }

                .features {
                    ul {
                        li {
                            color: $white;
                        }
                    }
                }

                .pill-btn {
                    background-color: $white;
                    color: $primary;
                    font-weight: 500;

                    .icon-div {
                        background-color: $primary;

                        i {
                            color: $primary-soft;
                        }
                    }
                }

            }

            .top-icon-div {
                width: 2.5rem;
                height: 2.5rem;
                background-color: #faf6f6;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                margin-bottom: 1.5rem;

                i {
                    font-size: 18px;
                }
            }

            .heading {
                font-size: 22px;
                font-weight: 600;
                margin-bottom: 1rem;
            }

            .sub-data {
                font-size: 16px;
                font-weight: 400;
                color: $info;
                margin-bottom: 1rem;
            }

            .price {
                font-size: 42px;
                font-weight: 600;
                margin-bottom: 1rem;

                span {
                    font-size: 16px;
                    font-weight: 500;
                }
            }

            .features {
                margin-bottom: 2rem;

                .feature-head {
                    font-weight: 600;
                    margin-bottom: 2rem
                }

                ul {
                    padding-left: 0rem;

                    li {
                        list-style: none;
                        position: relative;
                        padding-left: 0px;
                        margin-bottom: 10px;
                        margin-left: 0px;
                        color: $dark;
                        display: flex;
                        align-items: center;
                        gap: 0.8rem;

                        .icon {
                            width: 1.6rem;
                            height: 1.6rem;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: $secondary-soft;
                            border-radius: 50%;

                            i {
                                font-size: 16px;
                                color: #3bab84;
                            }
                        }
                    }
                }

                .no-before {
                    &::before {
                        background-color: none !important;
                        width: 0px;
                    }
                }
            }

            .pill-btn {
                font-size: 18px;
                text-transform: capitalize;

                .icon-div {
                    min-width: 2.4rem;
                    min-height: 2.4rem;
                    width: 2.4rem;
                    height: 2.4rem;
                }
            }
        }
    }
}


// Projects Showcase
.projects-showcase {
    background: $primary-gradient;
    padding: 3rem 0;
    color: $white;

    .aim-icon {
        width: 6rem;
        position: absolute;
        left: 10%;
        -webkit-filter: invert(100%);
        filter: invert(100%);
        opacity: (0.3);

        @media (max-width: 1200px) {
            display: none;
        }
    }

    .rocket-icon {
        width: 5rem;
        position: absolute;
        top: 5%;
        right: 10%;
        -webkit-filter: invert(100%);
        filter: invert(100%);
        opacity: (0.3);

        @media (max-width: 1200px) {
            display: none;
        }
    }

    .magnet-icon {
        width: 5rem;
        position: absolute;
        bottom: 30%;
        left: 6%;
        transform: rotate(20deg);
        -webkit-filter: invert(100%);
        filter: invert(100%);
        opacity: (0.3);

        @media (max-width: 1300px) {
            left: 2%;
        }

        @media (max-width: 1200px) {
            display: none;
        }
    }

    .mail-icon {
        width: 5rem;
        position: absolute;
        bottom: 30%;
        right: 6%;
        -webkit-filter: invert(100%);
        filter: invert(100%);
        opacity: (0.3);

        @media (max-width: 1300px) {
            right: 1%;
        }

        @media (max-width: 1200px) {
            display: none;
        }
    }

    .projects-slider {
        padding-bottom: 5rem;

        .project {
            .img-div {
                display: flex;
                justify-content: center;

                .laptop {
                    margin: 0 auto;
                    width: 85%;
                    object-fit: contain;
                    height: auto;

                    @media (max-width: 992px) {
                        width: 100%;
                    }

                    @media (max-width: 768px) {
                        width: 100%;
                    }

                    @media (max-width: 576px) {}
                }
            }
        }

        .right-arrow {
            top: inherit !important;
            bottom: 0;
            right: 46%;

            @media (max-width: 1200px) {
                right: 44%;
            }

            @media (max-width: 768px) {
                right: 40%;
            }

            @media (max-width: 576px) {
                right: 38%;
            }

            @media (max-width: 370px) {
                right: 34%;
            }
        }

        .left-arrow {
            top: inherit !important;
            bottom: 0;
            left: 46%;

            @media (max-width: 1200px) {
                left: 44%;
            }

            @media (max-width: 768px) {
                left: 40%;
            }

            @media (max-width: 576px) {
                left: 38%;
            }

            @media (max-width: 370px) {
                left: 34%;
            }
        }
    }
}

// Our Expertise
.our-expertise {
    padding: 5rem 0;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('/img/texture-1.png');
        opacity: 0.1;
        z-index: -1;
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $primary-gradient;
        z-index: -2;
    }

    .header {
        font-size: 45px;
    }

    ::-webkit-scrollbar {
        height: 0px;
        opacity: 0.0;
    }

    .expertise-navs {
        display: flex;
        justify-content: space-between;
        position: relative;
        overflow-x: scroll;

        @media (max-width: 768px) {
            width: 100%;
        }

        .active {
            z-index: 2;
            position: relative;
            transition: all ease 0.8s;

            &::after {
                position: absolute;
                content: "";
                width: 100%;
                height: 3px;
                background-color: $secondary;
                z-index: 1;
                bottom: 0;
                transition: all ease 0.8s;
            }
        }

        li {
            list-style-type: none !important;
            width: 25%;
            position: relative;
            padding: 0 0.3rem;

            @media (max-width: 992px) {
                width: 35%;
                min-width: 35%;
            }

            @media (max-width: 576px) {
                width: 47%;
                min-width: 47%;
            }

            @media (max-width: 450px) {
                width: fit-content;
                min-width: fit-content;
                padding: 0 1rem;
            }

            &::after {
                position: absolute;
                content: "";
                width: 100%;
                height: 3px;
                background-color: $white;
                z-index: 0;
                bottom: 0;
                left: 0;
            }

            .flex {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                padding-bottom: 1rem;

                .img-div {
                    width: 4.5rem;

                    @media (max-width: 576px) {
                        width: 4rem;
                    }

                    img {
                        width: 100%;
                    }
                }

                .heading-div {
                    .heading {
                        font-size: 23px;
                        text-align: center;
                        color: $white;

                        @media (min-width: 1440px) {
                            font-size: 28px;
                        }
                    }
                }
            }
        }
    }

    .tab-content {
        .tab-pane {
            margin-top: 2rem;

            .flex {
                display: flex;
                justify-content: space-between;
                gap: 2rem;
                align-items: center;

                @media (max-width: 1200px) {
                    flex-direction: column;

                }

                .info-div {
                    width: 50%;

                    @media (max-width: 1200px) {
                        width: 100%;
                    }

                    .heading {
                        font-size: 36px;
                        font-weight: 600;
                        color: $white;
                        margin-bottom: 1rem;

                        @media (min-width: 1440px) {
                            font-weight: 40px;
                        }
                    }

                    .info {
                        font-size: 18px;
                        color: $white;
                        margin-bottom: 2rem;
                    }

                    ul {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        row-gap: 0.5rem;
                        margin-bottom: 2rem;
                        margin-left: 0;
                        padding-left: 0.2rem;

                        @media (max-width: 576px) {
                            grid-template-columns: repeat(1, 1fr);
                        }

                        li {
                            color: $white;
                            list-style-type: none;
                            font-size: 18px;
                            display: flex;
                            align-items: top;

                            i {
                                color: $secondary;
                                margin-right: 0.5rem;
                                padding-top: 4px;
                            }
                        }
                    }
                }

                .img-div {
                    width: 50%;

                    @media (max-width: 1200px) {
                        width: 100%;
                        margin-top: 1rem;
                    }

                    img {
                        height: 450px;
                        object-fit: cover;
                        width: 100%;
                        border-radius: 12px;

                        @media (max-width: 1200px) {
                            height: 100%;
                            max-height: 450px;
                        }
                    }
                }
            }
        }
    }
}

// Industries We Serve
.industries {
    .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;

        @media (max-width: 1200px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media (max-width: 992px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 576px) {
            grid-template-columns: repeat(1, 1fr);
        }

        .industry {
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            padding: 1.5rem 1.3rem;
            border-radius: 6px;
            position: relative;
            overflow: hidden;
            padding-bottom: 3rem;
            background-color: $white;

            .icon-div {
                width: 4rem;
                height: 4rem;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $primary;
                border-radius: 50%;
                margin-bottom: 1rem;

                i {
                    color: $white;
                    font-size: 22px;
                }

                img {
                    width: 34px;
                }
            }

            .icon-div-second {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                top: 8%;
                right: 8%;
                width: fit-content;
                height: fit-content;
                position: absolute;

                i {
                    color: $primary;
                    font-size: 50px;
                    opacity: 0.1;
                }

                img {
                    width: 68px;
                    filter: brightness(0) saturate(100%) invert(18%) sepia(100%) saturate(3663%) hue-rotate(224deg) brightness(99%) contrast(92%);
                    opacity: 0.2;
                }
            }

            .title {
                font-size: 24px;
                font-weight: 600;
            }

            .link {
                font-size: 16px;
                font-weight: 400;
                position: absolute;
                bottom: 0;
                right: 0;
                background-color: $primary;
                color: $white;
                width: 3rem;
                height: 2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                border-top-left-radius: 50%;
            }
        }
    }
}


// Join Us
.join-us {
    color: $dark;

    .flex {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        align-items: center;
        margin-bottom: 2rem;

        @media (max-width: 768px) {
            flex-direction: column;
            gap: 1rem;
        }

        .heading-div {
            width: 50%;

            @media (max-width: 768px) {
                width: 100%;
            }
        }

        .spf {
            width: 50%;
            display: flex;
            justify-content: end;

            @media (max-width: 768px) {
                width: 100%;
                justify-content: start;
                flex-direction: column;
            }

            .line {
                width: 35%;
                margin-right: 2rem;
                margin-top: 2rem;
                height: 1px;
                background-color: #cecccc;

                @media (max-width: 768px) {
                    width: 100%;
                    margin-top: 0;
                    margin-bottom: 1rem;
                }
            }



            .pill-btn {
                .icon-div {
                    min-width: 2.3rem;
                    min-height: 2.3rem;
                    height: 2.3rem;
                    width: 2.3rem;
                }
            }
        }
    }

    .img-div {
        img {
            width: 100%;
            max-height: 450px;
            object-fit: cover;
            object-position: top;
            border-radius: 12px;
        }
    }
}

// FAQ
.faq {
    background-color: rgb(250, 250, 250);
    padding: 2rem 0 4rem 0;
    margin-bottom: 0;

    .accordion {
        --bs-accordion-border-width: 0px;
        --bs-accordion-btn-focus-border-color: #ffffff;
        --bs-accordion-active-color: #ffffff;
        --bs-accordion-btn-focus-box-shadow: 0 0 0 0rem;
    }

    .accordion-item {
        margin-bottom: 1rem;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: rgba(233, 232, 232, 0.2) 0px 2px 8px 0px;
        background-color: #ffffff;
    }

    .accordion-button:not(.collapsed)::after {
        background-image: url("data:image/svg+xml,...");
    }

    .accordion-button::after {
        background-image: url("data:image/svg+xml,...");
    }

    .accordion-button:not(.collapsed):after {
        transform: none !important;
        transform: all 0.3s;
    }

    .accordion-topic button {
        padding: 20px 30px;
        background-color: #fff;
    }

    .accordion-topic button:after {
        font-family: "FontAwesome";
        content: "\f068";
        float: right;
        color: $primary;
        font-size: 1rem;
        height: inherit;
    }

    .accordion-topic button.collapsed:after {
        content: "\f0dd";
        // content: "\2b";
        font-size: 1.3rem;
    }

    .accordion-topic span {
        font-weight: 600;
        font-size: 19px;
        line-height: 24px;
        color: #293241;
    }

    .accordion-body {
        padding-left: 2rem;
    }

    .accordion-button {
        background-color: #ffffff !important;
    }
}

// Footer
footer {
    padding: 4rem 0;
    background: $primary-gradient;

    .flex {
        display: flex;
        gap: 3rem;

        @media (max-width: 1400px) {
            gap: 3rem;
        }

        @media (max-width: 992px) {
            flex-wrap: wrap;

        }

        @media (max-width: 576px) {
            gap: 2rem;
        }

        .column {
            width: 100%;

            &:nth-of-type(1) {
                width: 150%;

                @media (max-width: 992px) {
                    width: 30%;
                }

                @media (max-width: 768px) {
                    width: 100%
                }
            }

            @media (max-width: 992px) {
                width: 25%;
            }

            @media (max-width: 768px) {
                width: 100%
            }

            .img-div {
                width: 100%;
                margin-bottom: 2rem;

                img {
                    width: calc(100% - 4rem);

                    @media (max-width: 768px) {
                        width: calc(100% - 8rem);
                    }
                }
            }

            .info {
                color: $white;
            }

            .footer-head {
                font-size: 22px;
                font-weight: 600;
                margin-bottom: 1.5rem;
                color: $white;
            }

            .footer-link {
                display: block;
                font-weight: 400;
                margin-bottom: 0.5rem;
                color: $white;

                i {
                    font-size: 20px;
                    margin-right: 0.5rem;
                }
            }
        }
    }
}

// Stars
.stars {
    i {
        color: #FDCC0D;

    }
}


// About Us
.about-us-light {
    padding: 3rem 0;
    position: relative;

    .flex {
        display: flex;
        align-items: center;
        gap: 2rem;
        position: relative;
        z-index: 2;
        align-items: stretch;

        @media (max-width: 1200px) {
            flex-direction: column;
        }

        .info-div {
            width: 55%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @media (max-width: 1200px) {
                width: 100%;
            }
            

            .header {
                font-size: 48px;
                font-weight: 700;
                text-transform: capitalize;
                margin-bottom: 1rem;
                color: $dark;

                @media (max-width: 576px) {
                    font-size: 36px;
                }
            }

            .info {
                font-size: 17px;
                color: $info;
                font-weight: 400;
                margin-bottom: 1.5rem;
            }

            .ratings-spf {
                display: flex;
                gap: 1rem;
                flex-wrap: wrap;
                margin-bottom: 1rem;

                .customers-overview {
                    height: 4rem;
                    display: flex;

                    .profiles {
                        position: relative;
                        width: 300px;

                        .profile {
                            width: 4rem;
                            height: 4rem;
                            object-fit: cover;
                            border-radius: 50%;
                            top: 0;
                            border: 4px solid $body-color;
                        }

                        .profile-2 {
                            position: absolute;
                            left: 20%;
                        }

                        .profile-3 {
                            position: absolute;
                            left: 40%;
                        }
                    }

                    .info-div {
                        transform: translateX(-30%);

                        @media (max-width: 1200px) {
                            transform: translateX(-10%);
                        }                        
                        @media (max-width: 576px) {
                            transform: translateX(-12%);
                        }

                        .stat {
                            font-size: 20px;
                            font-weight: 600;
                            color: $dark;
                        }

                        .stat-info {
                            font-size: 16px;
                            font-weight: 500;
                            color: $info;
                        }
                    }
                }

                .star-ratings {
                    .stat {
                        font-size: 20px;
                        font-weight: 600;
                        color: $dark;
                    }
                }
            }

            .stats {
                display: flex;
                gap: 1rem;
                align-items: center;

                @media (max-width: 576px) {
                    gap: 1.5rem;
                    flex-wrap: wrap;
                }

                .column {
                    text-align: center;
                    padding: 0rem 2rem;
                    position: relative;

                    @media (max-width: 768px) {
                        padding: 0rem 1rem;
                    }

                    @media (max-width: 576px) {
                        padding: 0rem;
                    }

                    &:nth-of-type(1) {
                        padding-left: 0rem;
                    }

                    &:nth-of-type(3) {
                        &::after {
                            width: 0px;
                        }

                        // @media (max-width: 576px) {
                        //     grid-column: span 2;
                        // }
                    }

                    &::after {
                        position: absolute;
                        content: "";
                        height: 2rem;
                        width: 3px;
                        background-color: $primary-soft;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);

                        @media (max-width: 1200px) {
                            background-color: $primary;
                        }

                        @media (max-width: 576px) {
                            display: none;
                        }
                    }

                    .number {
                        font-size: 28px;
                        font-weight: 700;
                        color: rgb(66, 64, 64);

                        span {
                            color: $primary;
                        }
                    }

                    .stat-info {
                        font-size: 18px;
                        color: rgb(66, 66, 66);
                    }
                }
            }
        }

        .img-div {
            width: 45%;
            display: flex;
            justify-content: center;
            border-radius: 12px;
            position: relative;
            flex: 1;

            @media (max-width: 1200px) {
                width: 100%;
            }

            .main-img {
                width: 100%;
                object-fit: cover;
                z-index: 1;
                border-radius: 12px;
                height: 100%;
                max-height: 500px;

                @media (max-width: 1200px) {
                    width: 100%;
                    margin-right: auto;
                    max-height: 400px;
                }
            }

            .ratings-spf {
                position: absolute;
                display: flex;
                z-index: 2;
                background-color: $white;
                padding: 1rem 1rem;
                bottom: 1rem;
                left: 1rem;
                border-radius: 50rem;
            }
        }
    }
}

// Jer
.top-information {
    background: #f6f9fc;
}

.login,
a.login,
a.login:link,
a.login:visited {
    padding: 10px;
    margin-top: 10px;
}

.what-we-do {
    .item {
        .logo-div {
            i {
                font-size: 24px;
            }
        }
    }
}

.nav-hero {
    .hero {
        .flex {
            .img-div {
                align-self: flex-end;
            }
        }
    }
}

@media screen and (max-width: 1400px) {
    nav {
        .nav-link {
            padding: 0.5rem 1rem !important;
        }
    }

    .nav-hero {
        .hero {
            .flex {
                .img-div {
                    padding-right: 1rem;
                }
            }
        }
    }
}

.our-expertise {
    img.icon {
        max-width: 92px;
        margin-bottom: 1.5rem;
    }

    .tab-content {
        .tab-pane {
            .flex {
                .img-div {
                    img {
                        object-fit: contain;
                    }
                }
            }
        }
    }
}