// Media Page
.media-list {
    .flex {
        display: flex;
        justify-content: center;
        gap: 2rem;
        flex-wrap: wrap;

        .column {
            width: 30%;
            padding: 2rem 1.5rem;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 12px;
            position: relative;

            @media (min-width: 350px) {
                min-width: 350px
            }

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 30%;
                background: $primary-gradient;
                border-radius: 12px 12px 0 0;
                z-index: -1;
            }

            .icon-div {
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                width: 6rem;
                height: 6rem;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 1rem 0;
                background-color: $white;

                img {
                    width: 3rem;
                    height: 3rem;
                    min-width: 3rem;
                    min-height: 3rem;
                }
            }

            h5 {
                font-size: 1.5rem;
                font-weight: 600;
                margin-bottom: 1rem;
            }

            p {
                text-align: center;
                font-size: 18px;
            }
        }
    }
}

// Stacked Reviews
.stacked-reviews {
    padding: 4rem 0;
    position: relative;
    margin-top: 2rem;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('/img/texture-1.png');
        opacity: 0.2;
        z-index: -1;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $primary-gradient;
        z-index: -2;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;

        @media (max-width: 768px) {
            grid-template-columns: repeat(1, 1fr);
        }

        .column {
            text-align: center;
            border: 3px solid $success;
            border-radius: 12px;
            padding: 1rem 1.5rem 2rem;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 23%;
                background-color: $success;
                border-radius: 12px 12px 0 0;
                z-index: -1;
            }

            .img-div {
                width: 6rem;
                height: 6rem;
                margin: 0 auto;
                margin-top: 2rem;
                margin-bottom: 1rem;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    border: 3px solid $primary;
                }
            }

            .info-div {
                margin-top: 0rem;

                .name {
                    font-size: 24px;
                    font-weight: 600;
                    margin-bottom: 0.5rem;
                    color: $white;
                }

                .info {
                    font-size: 18px;
                    font-weight: 400;
                    color: $white;
                    margin-bottom: 1rem;

                    i {
                        font-size: 30px;
                        color: $primary;
                    }
                }

                .industry {
                    font-size: 18px;
                    font-weight: 500;
                    color: $white;
                }

                .stars {
                    margin-top: 0.5rem;

                    i {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}


// Legal
.legal {
    .partition {
        margin: 2rem 0;

        .header {
            text-align: center;
            font-weight: 500;
        }

        p {
            font-size: 18px;
        }

        .pointed-header {
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 1rem;
            text-transform: uppercase;
        }

        hr {
            margin: 2rem 0 !important;
        }

        ol {
            li {
                font-size: 18px;
                padding-left: 1rem;
            }
        }
    }
}

.domain-search {
    position: relative;
    border-radius: 50rem !important;
    width: 50%;
    height: 3rem;
    margin: 3rem 0;

    @media (max-width: 992px) {
        width: 100%;
    }

    input {
        color: $dark;
        padding-right: 130px;
        z-index: 1;
        padding-left: 1rem;

        &::placeholder {
            color: $dark;
            opacity: 1;
            /* Firefox */
        }

        &::-ms-input-placeholder {
            /* Edge 12 -18 */
            color: $dark;
        }
    }

    span {
        background-color: $primary;
        border-radius: 50rem;
        position: absolute;
        right: 0;
        text-align: center;
        height: 100%;
        padding: 0 2rem;
        border-top-left-radius: inherit !important;
        border-bottom-left-radius: inherit !important;
        z-index: 2;
    }

    .form-control:focus {
        color: $dark;
    }
}

.input-group>.form-control:focus,
.input-group>.form-select:focus,
.input-group>.form-floating:focus-within {
    z-index: inherit;
}

// Services
.services {
    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        margin: 1.5rem 0;

        @media (max-width: 1200px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 768px) {
            grid-template-columns: repeat(1, 1fr);
        }


        .service {
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            padding: 2rem 2rem;
            border-radius: 12px;
            position: relative;
            overflow: hidden;
            transition: all ease 0.7s;

            @media (max-width: 768px) {
                padding: 1rem 1rem;
            }

            &::before {
                content: "";
                position: absolute;
                width: 9rem;
                height: 9rem;
                background-color: $primary;
                border-radius: 50%;
                z-index: -1;
                left: -10%;
                top: -10%;
                transition: all ease 0.5s;

                @media (max-width: 1200px) {
                    width: 10rem;
                    height: 10rem;
                }

                @media (max-width: 1200px) {
                    width: 8.5rem;
                    height: 8.5rem;
                }
            }

            &:hover {
                &::before {
                    width: 100%;
                    height: 100%;
                    background-color: $primary;
                    border-radius: 12px;
                    z-index: -1;
                    left: 0%;
                    top: 0%;
                }

                .graphics-div {
                    background-color: $white;

                    i {
                        color: $primary;
                    }
                }

                .title {
                    color: $white;
                }

                .info {
                    color: $white;
                }

                .link {
                    color: $white;
                }
            }

            .graphics-div {
                width: 7rem;
                height: 7rem;
                background-color: $primary;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 1rem;

                i {
                    font-size: 2.3rem;
                    color: $white;
                }
            }

            .title {
                font-size: 22px;
                font-weight: 600;
                margin-bottom: 1rem;
            }

            .info {
                font-size: 18px;
                color: $info;
                margin-bottom: 1rem;
            }

            .link {
                font-size: 18px;
                font-weight: 600;
                color: $primary;
                text-decoration: underline !important;
            }

        }
    }
}